body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.logopng {
    height: 40px;
}

.section {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

#index {
    background-image: url(img/page1.jpg);
    height: 860px;
}

#timeTable {
    background-image: url(img/page-desktop\ 1.png);
}

#price {
    background-image: url(img/page-desktop\ 1.png);
}

/* 導覽欄區 */
.heder {
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.25rem;
    padding: 0 1.5rem;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    align-items: center;
    z-index: 1000;
}

.hederul {
    display: flex;
    gap: 120px;
    list-style: none;
}

.hebtn {
    color: white;
    background-color: #F45D1C;
    font-size: 1.25rem;
    padding: 10px 40px 10px 40px;
}

/* 導覽欄區end */

.headLogo {
    font-size: 60px;
    color: #ffffff;
    padding-top: 650px;
    padding-left: 50px;

}

.headContent {
    font-size: 32px;
    margin: 8px 0 8px 0;
}

.btn1 {
    color: #ffffff;
    font-size: 24px;
    padding: 8px 24px 8px 24px;
    border-radius: 16px;
    margin-left: 50px;
    background-color: #F45D1C;
}

.btn2 {
    color: #ffffff;
    font-size: 24px;
    padding: 8px 24px 8px 24px;
    border-radius: 16px;
    margin-left: 10px;
    background-color: #ffffff48;
    border-color: #F45D1C;
    border-width: 2px;

}


/* lineUp區 */
@keyframes scroll-rtl {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-ltr {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.runFrame {
    max-width: 1200px;
    overflow: hidden;
}

.runContainer {
    display: flex;
    width: fit-content;
    white-space: nowrap;
}

.bandPic {}

.bPic-hover {}

/* time table區 */
.tableFrame {
    display: flex;
    justify-content: center;
    align-items: center;
}